<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
        <img src="{{foto}}"
            alt="Imagem do usuário" width="50px" height="50px" class="rounded-circle">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse px-2" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-lg-0 ">
                <li class="nav-item pl-3">
                    <p class="text-white fs-16 fw-bold m-0">Olá, {{nome}}</p>
                    <a href="">
                    <p class="text-white fs-16 fw-bold">Editar</p>
                    </a>
                </li>


            </ul>

            <ul class="navbar-nav m-auto mb-lg-0 ">

            </ul>

            <ul class="navbar-nav ml-auto mb-lg-0 ">
                <li class="nav-item pl-3">
                    <a (click)='sair()' class="m-0 font-weight-bold text-white fs-16">
                    Sair
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>














